[2022-04-14 16:13] juliev0 commented on #1793
In fact, even if all EventSources and Sensors get deleted, once that EventBus has been used even once the stream Settings are in there. You need to delete the EventBus and create a new one. So, maybe we can prevent updating that setting altogether?

[2022-04-14 20:05] whynowy commented on #1793
Only allow delete -> create then.

[2022-04-14 22:08] juliev0 commented on #1793
@whynowy Do you mean not allow "update" at all for the Jetstream bus then?

[2022-04-14 22:24] juliev0 opened #1849 "Jetstream - validate EventBus spec to prevent Settings.max_file_store > persistence.volumeSize"
It's possible to create a Jetstream EventBus spec for which Settings.max_file_store exceeds persistence.volumeSize. We could do validation on the spec to prevent this.
---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2022-04-14 22:53] juliev0 commented on #1799
Document to keep track of this: https://docs.google.com/document/d/1VVACEHOugs67-a6MPxSKOCk8_uT0cePv4k_6zqygniI/edit#

[2022-04-14 22:58] juliev0 commented on #1799
@whynowy I believe I am done with this, if you want to close it.

[2022-04-14 23:20] juliev0 opened #1850 "HA Sensor has very frequent Leadership changes when running in GKE"
**Describe the bug**
Running a Sensor with 2 replicas in GKE. Every few minutes I see in the leader's log:
2022-04-14T20:59:31.177Z	INFO	argo-events.sensor	leaderelection/leaderelection.go:153	Becoming a Follower, stand by ...	{"sensorName": "webhook"}

Note that I am also trying an HA (Calendar) EventSource and it doesn't seem to be happening there.

**To Reproduce**
Run this Sensor:
[code]

**En

[2022-04-15 06:51] whynowy commented on #1793
Well, take back what I said, we should only prevent updating several fields.

[2022-04-15 17:03] whynowy commented on #1799
@juliev0 - This is great! Can you also post the result as a comment in the issue, and then we can close it.

[2022-04-15 17:39] juliev0 commented on #1799
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-7dc19937-7fff-db8b-a898-1e5246fef2f7"><h2 dir="ltr" style="line-height:1.5;margin-top:18pt;margin-bottom:12pt;padding:0pt 0pt 5.1pt 0pt;"></h2><div dir="ltr" style="margin-left:0pt;" align="left">

Disruption | How to test | Result
-- | -- | --
Controller Pod deleted | Kubectl delete pod | Restarted successfully.
EventSour

[2022-04-15 17:41] juliev0 commented on #1799
@whynowy Posted above. Ignore everything below the table itself - for some reason when I pasted the table in from Google Docs it added both the table and the free form content below.

[2022-04-15 17:53] juliev0 commented on #1799
Okay, fixed

[2022-04-16 04:27] juliev0 commented on #1850
Seems to be particular to the image I built locally. I've been running with argo-events:latest and it doesn't seem to be happening to that. Only theory I have is that it's somehow related to my having built the image with "make image" while argo-events:latest is built with "make image-multi" but not sure if that really makes any sense...

[2022-04-17 11:30] oscar6echo opened #1855 "Parameterization tutorial last step does not work"
**Describe the bug**

Trigger template parameterization does not work.

**To Reproduce**
Follow the steps in tutorial https://argoproj.github.io/argo-events/tutorials/02-parameterization/#trigger-template-parameterization

In particular, update sensor:
[code]
Then test with curl:

[code]

**Expected behavior**

What is described in the tutorial ie.:

[code]

What I see instead is the default messa

[2022-04-17 22:11] juliev0 commented on #1850
Sorry, I take back what I said. Plenty of leadership changes happen even when running with quay.io/argoproj/argo-events:latest, in GKE. Perhaps it just happens more at some times than others. I think running the stress test on it seems to cause it more than when it's sitting doing nothing.

[2022-04-18 15:40] juliev0 commented on #1855
@sarabala1979 Do you want to assign this to me?

[2022-04-18 23:01] tooptoop4 commented on #1850
I see frequent leader changes on EKS v1.21 too (argo-events 1.6.3)

[2022-04-19 04:29] juliev0 commented on #1850
Glancing at how RAFT works, I see "a leader election is triggered when a follower times out after waiting for a heartbeat from the leader." I wonder if the Sensor is for some reason sometimes not responding to heartbeats.

[2022-04-19 09:08] tooptoop4 commented on #1850
running for a while

[2022-04-19 15:44] juliev0 commented on #1850
So, I'm running v1.6.0 right now in GKE, and on average in the last 24 hours there have been restarts (leadership changes) about every 5 minutes, while it's pretty much been idle (receiving no messages).

I peeked at the nats-io/graft code that we're using, and it looks like the leader sends a heartbeat once every 100 ms. If a follower doesn't receive a heartbeat within 500 ms, a new leader electi

[2022-04-19 21:37] juliev0 commented on #1850
I tried modifying the underlying graft code to set MIN_ELECTION_TIMEOUT to 1 sec (from 500 msec) and the leadership changes don't seem to be happening much.

[2022-04-19 21:39] juliev0 commented on #1795
Ours is working, so don't need to do this.

[2022-04-19 21:39] #1795 closed

[2022-04-20 11:02] felix-dpg opened #1863 "Allow authentication with username and password in mqtt eventsource"
**Is your feature request related to a problem? Please describe.**
I was exploring the docs of mqtt eventsource, and at least in the docs appear that is not possible to specify auth in this eventsource.
amqp event source has this options, but not mqtt.

**Describe the solution you'd like**
Add mqtt eventsource authentication like in amqp

---

**Message from the maintainers**:

[2022-04-20 12:27] felix-dpg commented on #1863
Well, is not implemented looking at the code of the event source.

https://github.com/argoproj/argo-events/blob/f43468f45124786c6cc9e82a65565a096ed79724/eventsources/sources/mqtt/start.go#L107

[2022-04-20 16:39] juliev0 commented on #1850
Added an [issue](https://github.com/nats-io/graft/issues/29) in their Github.

Interestingly, somebody else has recently written an [issue](https://github.com/nats-io/graft/issues/27) to make the timeout value and other related constants configurable.

[2022-04-20 16:54] #1808 closed

[2022-04-20 16:58] whynowy commented on #1796
changed to user/pass

[2022-04-20 21:01] #1855 closed

[2022-04-20 21:04] #1793 closed

[2022-04-20 21:18] oscar6echo commented on #1855
Thank you for the swift correction !

[2022-04-20 22:06] tooptoop4 commented on #1611
crispy

[2022-04-20 22:07] tooptoop4 commented on #1850
is https://github.com/argoproj/argo-events/issues/1680 related?

[2022-04-21 00:59] lsl-msft commented on #1855
Yeah I have met the same problem yesterday and the new change solved my problem. Thanks!

[2022-04-21 01:21] juliev0 commented on #1855
sorry for the hassle! and thanks for pointing it out @oscar6echo

[2022-04-21 03:11] #1510 closed

[2022-04-21 04:34] lsl-msft opened #1871 "Trigger Conditions Tutorial MinIO Branch does not Work as Expected"
**Describe the bug**
In Trigger Conditions Tutorial, the minio trigger is not working properly.

**To Reproduce**
Follow the [official tutorial link](https://argoproj.github.io/argo-events/tutorials/06-trigger-conditions/) and do:
1. Deploy webhook event source:
`kubectl -n argo-events apply -f https://raw.githubusercontent.com/argoproj/argo-events/stable/examples/tutorials/06-trigger-conditions/w

[2022-04-21 04:36] lsl-msft commented on #1871
It should be a simple fixing PR. Just modify `dataKey:s3.bucket.name` into `dataKey: notification.0.s3.bucket.name`. However I have no permission to create branch so I am not able to create fixing PR. I have referenced `contributing guidelines` but did not find rules or guidelines for this.

[2022-04-21 04:40] juliev0 commented on #1680
So, I believe the comment you linked to and your #1547 refer to the NATS server acking the publisher (EventSource) within its wait time, while the code [line](https://github.com/argoproj/argo-events/blob/v1.6.0/eventbus/driver/nats.go#L155 ) you found refers to the timeout for the consumer (Sensor) to ack the NATS server.

It doesn't appear to me that we're explicitly setting the AckWait for the p

[2022-04-21 05:03] juliev0 commented on #1850
Hmm, I don't believe so. The AckWait you were referring to is a setting on the publisher side, which I don't believe we're setting (see my comment over there).

The leader election settings are all separate and contained within [nats-io/graft](https://github.com/nats-io/graft). I suppose the heartbeats _are_ going over the NATS bus as well so they may or may not be setting AckWait there.

[2022-04-21 07:07] whynowy commented on #1871
Fork the repo, create a branch and submit a PR.

[2022-04-21 07:08] whynowy commented on #1863
@felix-dpg - would you like to submit a PR?

[2022-04-21 07:22] felix-dpg commented on #1863
@whynowy thanks, but dont have enought time to submit a PR. Open to whatever that could make this.

[2022-04-21 08:24] lsl-msft commented on #1871
Thanks. Already created fixing PR https://github.com/argoproj/argo-events/pull/1873

[2022-04-21 08:38] krgn opened #1874 "Cannot connect Kafka event source to Confluent cloud cluster"
**Describe the bug**

I have attempted to connect to a Confluent cloud cluster using the Kafka event source. Confluent requires SASL/PLAIN for authentication, so I have plugged in known good values into the the `Secret` (and also verified that the event source _is_ picking them up correctly) yet source can't connect with this error:

[code]

These are example resources:

[code]

After digging a li

[2022-04-21 10:30] lsl-msft commented on #952
I followed the tutorial and met this same problem today. Guess one year and a half has passed and the documents still not updated. XD

[2022-04-21 11:07] krgn commented on #1874
I am a bit perplexed why adding this `tls` config block won't work:

[code]

Looking at `apis/common/common.go` I see that the flag should be parsed correctly:

[code]

And detected OK in `common/util.go` too:

[code]

What would really helpful if the sarama logger was set up like this:

[code]

[2022-04-21 11:38] krgn commented on #1874
I found the error - I had not correctly configured the data in the secret (use base64!). Hope this helps someone down the line.

[2022-04-21 11:38] #1874 closed

[2022-04-21 15:52] #1799 closed

[2022-04-21 16:36] #1871 closed

[2022-04-22 18:43] #1565 closed

[2022-04-23 00:53] #1801 closed

[2022-04-24 13:09] dave08 commented on #976
In your answer @whynowy, you said:

How can I aggregate them to one webhook? I'm having this problem with the bitbucket cloud webhook, and as far as I understand a k8s service round-robins between pods -- so if each eventsource is a different pod then the ingress will send to the service with will randomly choose one eventsource to send to -- not necessarily the right one though...

[2022-04-26 03:07] #1576 closed

[2022-04-26 13:54] harshdeep-23 opened #1901 "Add support for temporary AWS IAM credentials via AWS STS in SQS Eventsource"
**Is your feature request related to a problem? Please describe.**
We're trying to use Argo-Events for executing sensors based on SQS messages. Our infra provides temporary (AWS STS generated) IAM credentials stored in a k8s secret and are updated when the credentials expire. Currently Argo-Events only supports static credentials via k8s secret which is not permitted in our environment.

**Describ

[2022-04-27 02:59] tooptoop4 commented on #1710
@svmaris any idea? one thing i notice is that the webhookSecret block from the yaml does not get persisted:

![image](https://user-images.githubusercontent.com/33283496/165430784-25efa610-9722-4a06-9acc-4d4e90bd8a34.png)

[2022-04-27 03:08] tooptoop4 commented on #891
@weaselchops i wonder if something like https://github.com/go-playground/webhooks/blob/v5.17.0/bitbucket-server/bitbucketserver.go#L129-L141 is needed

[2022-04-28 05:20] swathi-zelarsoft commented on #1784
Hi @daniel-codefresh I used Basic-Auth strategy but I’m unable to connect to bitbucket. I tried the same way for Github, it worked fine.
Coming to EventSource.yaml I used the example one in the github with my details(https://github.com/argoproj/argo-events/blob/master/examples/event-sources/bitbucket.yaml).  Here providing the screenshot of EventSource yaml. Could you please let me where I'm going

[2022-04-28 07:27] shirou opened #1908 "Support for submitting from an existing resource on ArgoWorkflow Trigger"
**Is your feature request related to a problem? Please describe.**

I would like to submit an existing WorkFlow or CronWorkFlow from an Argo Workflow Trigger. Equivalent to this command.

[code]

**Describe the solution you'd like**

Currently the [submit code](https://github.com/argoproj/argo-events/blob/master/sensors/triggers/argo-workflow/argo-workflow.go#L137) does not appear to have this fea

[2022-04-28 12:26] swathi-zelarsoft commented on #1784
It got worked when I created a new repo and implemented the Basic-Auth strategy. Thank you @daniel-codefresh

[2022-04-30 03:00] #1541 closed

[2022-05-01 06:38] daniel-codefresh commented on #1784
Sure thing!

[2022-05-01 06:38] #1784 closed

[2022-05-01 06:39] #1743 closed

[2022-05-01 07:02] daniel-codefresh commented on #1710
Related PRs: #1917 #1902

[2022-05-03 08:56] #1710 closed

[2022-05-05 09:11] tooptoop4 opened #1927 "event flow diagram not showing eventsource icon"
**Describe the bug**
The workflows are being triggered ok but the event source icon is just missing from the 'event flow' diagram

**To Reproduce**
eventsource yaml:
[code]

sensor yaml:
[code]

**Expected behavior**
eventsource icon shows in event flow diagram

**Screenshots**
![image](https://user-images.githubusercontent.com/33283496/166893014-f58205cd-48c5-42de-9f41-6a0a41aed3b9.png)

**Enviro

[2022-05-05 09:28] tooptoop4 opened #1928 "accessToken and webhookSecret should be optional in bitbucketserver eventsource"
**Describe the bug**
accessToken and webhookSecret are mandatory in the new syntax style of bitbucketserver eventsource

**To Reproduce**
Steps to reproduce the behavior:
create a bitbucketserver eventsource from examples (https://github.com/argoproj/argo-events/blob/4d1a8011940680a16d79d432c31cc2054c199898/examples/event-sources/bitbucketserver.yaml) but don't include lines 37-46 about accessToke

[2022-05-05 10:36] ibabiankou opened #1929 "GitHub webhook race condition workaround abuses API when it's not needed"
**Describe the bug**
Even when `DeleteHookOnFinish` is false (default value AFAICT) [GitHub EventSource starts a daemon](https://github.com/argoproj/argo-events/blob/master/eventsources/sources/github/start.go#L363-L379) that checks every minute the webhook exists on the GitHub side. It puts a hard limit on how many repositories can be handled before exceeding the rate limits.

**To Reproduce**
St

[2022-05-05 13:57] kstevena commented on #1230
Just in case, I was having the same question and gone through the documentation you referenced @whynowy using the [array queries](https://github.com/tidwall/gjson/blob/master/SYNTAX.md#queries) seems to work

So ending with something like:
`dest: spec.arguments.parameters.#(name=="repo").value`

[2022-05-05 14:01] rwong2888 commented on #1230
Yeah we fixed that in v1.6.0 @kstevena
https://github.com/argoproj/argo-events/pull/1538

Shout out to @Nizar-opt

[2022-05-05 19:25] juliev0 commented on #1798
I've been able to start up a Calendar EventSource which can effectively send ~45 messages per second.

The event processing duration reported by the EventSource is about 8.5 ms. The action duration is < 1ms.

The CPU and memory being used are very low:

[2022-05-05 20:30] #1798 closed

[2022-05-06 13:43] jinnjwu commented on #903
any guideline how to config it ?

[2022-05-06 16:21] #1389 closed

[2022-05-07 02:40] #1792 closed

[2022-05-08 03:00] #1547 closed

[2022-05-08 06:43] ondrejmo opened #1940 "Jetstream EventBus doesn't work on arm64"
**Describe the bug**

Jetstream `EventsBus` doesn't work on arm64 architecture.

**To Reproduce**

1. Install argo-events as described in [v1.7.0 release notes](https://github.com/argoproj/argo-events/releases/tag/v1.7.0)
2. Create `EventBus`
[code]
3. Pods scheduled to arm64 nodes will fail with the following error in the output of the `reloader` container, other two containers in the pod are wor

[2022-05-08 17:58] letthefireflieslive commented on #1908
Adding [stackoverflow question](https://stackoverflow.com/questions/72163431/how-can-you-trigger-an-existing-workflow-workflow-template-outside-argo-events-t) for reference as well. Thanks for raising this, we need this thing too

[2022-05-09 04:52] junjunjunk commented on #1850
This issue also occured with HA EventSources.(replicas=2)
I'm not sure there is an actual behavior problem. :(

[2022-05-09 15:33] juliev0 commented on #1940
Thanks for letting us know. One thing that's interesting is that if you go to the [tagged releases](https://hub.docker.com/r/natsio/nats-server-config-reloader/tags) for nats-server-config-reloader image, arm64 is actually listed for both 0.6.3 and 0.7.0.

[2022-05-09 16:40] ondrejmo commented on #1940
Yeah, I also noticed that, but if you try run the image it seems that at least the main binary is amd64, I believe that there might have been an error, since the other images are multi-arch

[2022-05-09 18:54] csimplestring commented on #1727
same issue experienced +1

[2022-05-09 23:51] juliev0 commented on #1940
My colleague @whynowy says he'll update argo-events-controller-config. Thanks for bringing it to our attention.

[2022-05-10 16:12] whynowy opened #1943 "Security Audit"
- [x] [ADA-ARGO-SA-10: #1944]
- [x] [ADA-ARGO-SA-12: #1946]
- [x] [ADA-ARGO-SA-13: #1947]
- [x] [ADA-ARGO-SA-17: #1949]
- [x] [ADA-ARGO-SA-18: #1950]
- [x] [ADA-ARGO-SA-20: #1952]
- [x] [ADA-ARGO-SA-21: #1953]
- [x] [ADA-ARGO-SA-22: #1954]
- [x] [ADA-ARGO-SA-23: #1955]
- [x] [ADA-ARGO-SA-24: #1956]
- [x] [ADA-ARGO-SA-25: #1957]

[2022-05-10 17:44] whynowy opened #1944 "Denial of service from malicious trigger parameters"
This issue was found and reported by the FuzzConstructPayload fuzzer that tests the github.com/argoproj/argo-events/sensors/triggers.ConstructPayload() API. It was found that a malicious TriggerParameter could make Argo Events consume more memory than is available and crash the application with an out-of-memory panic.
OSS-fuzz details
Link to report: https://oss-fuzz.com/testcase-detail/4621594267

[2022-05-10 17:46] whynowy opened #1945 "Insufficient logging when executing a trigger"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-d20ff22d-7fff-b10e-c863-8a8065e16157"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Medium
-- | --
Difficulty | Low
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;fon

[2022-05-10 17:48] whynowy opened #1946 "8 Uses of deprecated API can be used to cause DoS in user-facing endpoints"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-df5ac057-7fff-2abb-5057-a5a5c658f771"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Medium
-- | --
Difficulty | Medium
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;

[2022-05-10 17:50] whynowy opened #1947 "Insecure path traversal in Git Trigger Source can lead to arbitrary file read"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-5fa968d3-7fff-4fa4-d06c-bec0763d0037"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | High
-- | --
Difficulty | High
Target |  

</div></b>
A path traversal issue was found in the (g *GitArtifactReader).Read() API. Read() calls into (g *GitArtifactReader).readFromRepository() that opens and reads the file

[2022-05-10 17:58] whynowy opened #1948 "Insufficient logging if OIDC Provider is created with nil TLS config"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-642696c5-7fff-cf5a-b8a7-17f4e2590270"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Informational
-- | --
Difficulty | High
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transpa

[2022-05-10 18:00] whynowy opened #1949 "nil-pointer in 3rd-party library 2"
github.com/argoproj/argo-events/eventbus/jetstream/sensor.NewJetstreamTriggerConn() uses github.com/Knetic/govaluate to evaluate dependency expressions.
[This](https://github.com/argoproj/argo-events/blob/master/eventbus/jetstream/sensor/trigger_conn.go#L69) is the line that creates an expression:

https://github.com/argoproj/argo-events/blob/master/eventbus/jetstream/sensor/trigger_conn.go
connec

[2022-05-10 18:03] whynowy opened #1950 "DoS through well-crafted Boolean Expression"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-c1f29ee5-7fff-35bd-262f-1e8d361a7e9a"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Medium
-- | --
Difficulty | High
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;fo

[2022-05-10 18:05] whynowy opened #1951 "Unmaintained 3rd-party dependencies"
</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Two 3rd-party libraries used by Argo Events are unmaintained:</span></p><br /><ol style="

[2022-05-10 18:06] whynowy opened #1952 "Unused function parameters"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-86568da2-7fff-8ed4-ce08-74d0fc6fbd50"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Informational
-- | --
Difficulty | High
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transpa

[2022-05-10 18:07] whynowy opened #1953 "Functions always returning nil"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-d3f5b6b7-7fff-e79a-a7bd-58d03e370c62"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Informational
-- | --
Difficulty | High
Target |  

</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transpa

[2022-05-10 18:09] whynowy opened #1954 "Nil-pointer dereferences in sensor controller"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-37021e85-7fff-9514-f8fb-f29ea817a2ae"><div dir="ltr" style="margin-left:0pt;" align="left">

Severity | Informational
-- | --
Difficulty | High
Target |  

</div><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><a href="https://github.com/argoproj/argo-events/blob/master/controllers/sensor/validate.g

[2022-05-10 18:10] whynowy opened #1955 "Use of math/rand in production code"
</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">A number of the Event Sources were found to use the weak random number generator. As per

[2022-05-10 18:11] whynowy opened #1956 "Improper use of InsecureSkipVerify"
</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Argo Events uses the </span><span style="font-size:11pt;font-family:Consolas,sans-serif;c

[2022-05-10 18:11] whynowy opened #1957 "Insecure production use of crypto/ssh.InsecureIgnoreHostKey"
</div><br /><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The git artifact uses the </span><span style="font-size:11pt;font-family:Consolas,sans-se

[2022-05-11 07:16] whynowy commented on #1953
`func setConfigDefaults(config *rest.Config) error` is `code-generator` generated function, won't fix.

 `triggerActions` is fixed.

[2022-05-11 09:07] Shahard2 commented on #1499
Hello, any news about this issue?
We will have this problem

[2022-05-11 15:16] #1950 closed

[2022-05-11 15:17] #1954 closed

[2022-05-11 15:18] #1955 closed, assigned to nobody

[2022-05-11 15:19] #1953 closed

[2022-05-11 15:19] #1940 closed

[2022-05-11 17:49] whynowy commented on #1952
Fixed all the files except auto-generated `openapi_generated.go`.

[2022-05-11 17:50] whynowy commented on #1952
Won't fix `openapi_generated.go`.

[2022-05-11 17:54] #1952 closed

[2022-05-12 15:34] whynowy commented on #1948
This is about Argo CD.

[2022-05-12 15:34] #1948 closed

[2022-05-13 03:18] #1908 closed

[2022-05-13 03:18] #1947 closed

[2022-05-13 15:29] #1946 closed

[2022-05-14 03:47] whynowy commented on #1950
This file is not in-use in Argo Events, and it's not intended to be provided as a package for external usage.

Removed it from Argo Events codebase.

[2022-05-14 03:49] whynowy commented on #1954
Informational.

[2022-05-15 15:17] daniel-codefresh commented on #1928
Hey @tooptoop4, I'm not sure I understand the issue. Could you please provide some more context? It would be very helpful if you could fill the template that we have for new bug reports: https://github.com/argoproj/argo-events/issues/new?assignees=&labels=bug&template=bug_report.md

[2022-05-15 22:10] tooptoop4 commented on #1928
@daniel-codefresh updated

[2022-05-16 10:20] daniel-codefresh commented on #1928
@tooptoop4 Here's the related PR: https://github.com/argoproj/argo-events/pull/1976
TBH I didn't see any issues with omitting the webhook secret field as [this previous fix](https://github.com/argoproj/argo-events/pull/1902) makes it optional. Also, it seems like the access token field of the bitbucket server eventsource was never really optional from it's early beginning (although it was optional

[2022-05-16 17:33] juliev0 opened #1977 "Asynchronous triggering of actions makes it possible to ack a message prior to performing the action"
We try to be "exactly once" in most cases and "at least once" in the case of SIGFAULT.

To be "exactly once" in the case of normal shutdown (SIGTERM), the logic prevents shutting down in the middle of processing a message. But the fact that actions are triggered [asynchronously](https://github.com/argoproj/argo-events/blob/master/sensors/listener.go#L335) means that we don't wait until the trigger

[2022-05-17 03:08] #1572 closed

[2022-05-17 06:42] #1929 closed

[2022-05-18 09:28] WaterKnight1998 commented on #188
I am also interested on this :)

[2022-05-18 13:52] pivonroll commented on #1716
Here is the PR to update the docs and how to setup RBAC with cluster-scope installation of argo-workflows.
[PR-1980](https://github.com/argoproj/argo-events/pull/1980)

[2022-05-20 00:33] amoore-incomm opened #1981 "Metadata labels on workflows are not being picked up by Resource Event-Source Label filter."
**Describe the bug**
`Resource` event source's filtering seems to be inconsistent and not able to pick up some label types/values

**To Reproduce**
Steps to reproduce the behavior:
Note: i can provide RBAC and Log Sensor as well, omitted as they should be generic-ish and didnt want this report to be longer than necessary

1. Install Argo-Events in a namespace
2. Setup a Resource Event-Source with

[2022-05-20 07:03] whynowy commented on #1957
Expose `InsecureIgnoreHostKey` in user spec, defaults to `false`.

[2022-05-22 18:55] obanby opened #1988 "Jetstream stateful set resource requests/limits aren't set correctly."
**Describe the bug**
A clear and concise description of what the bug is.

When using the jetstream event-bus operator, we can set the resource limits and requests on the three containers (main, reloader, and metrics). However, there are two problems:

1- Setting `MetricsContainerTemplate` resource requests/limits results in setting the reloader container resources requests/limits.

2- Setting `Rel

[2022-05-23 15:45] obanby commented on #1988
I opened the PR for this issue here [obanby:fix/jetstream-statefulset-resource-setting](https://github.com/argoproj/argo-events/pull/1989). Please let me know if any changes are required!

[2022-05-24 14:45] obanby commented on #1988
The pull request has been merged. Thanks!

[2022-05-24 18:38] #1981 closed

[2022-05-24 19:44] mjhuber opened #1990 "Allow resource requests/limits for EventSource and Sensor pods"
**Is your feature request related to a problem? Please describe.**
Currently pods generated from EventSource and Sensor objects do not permit specifying container resource requests and limits.  EventSourceSpec.Template [contains many of the PodSpec fields](https://github.com/argoproj/argo-events/blob/master/api/event-source.md#template), but not resources.

The ability to explicitly specify this p

[2022-05-25 08:17] #1928 closed

[2022-05-25 16:13] #1957 closed

[2022-05-25 18:16] yann-soubeyrand commented on #1990
Hello @mjhuber,

I think you can use the following template to achieve this
[code]

[2022-05-26 05:38] whynowy commented on #1956
func (reader *URLReader) Read() ([]byte, error)
-> It's user's choice to set it to true or false.

func (stream *Jetstream) MakeConnection() (*JetstreamConnection, error)
-> This is an internal function which is not supposed to connect to any external resources, it's only used to connect to self managed JetStream EventBus which has TLS enabled for data encryption in transit purpose.

func GetTLSCo

[2022-05-26 05:39] whynowy commented on #1956
Won't fix.

[2022-05-26 05:39] #1956 closed

[2022-05-26 13:00] DiegoFlop opened #1998 "Add to webhook event source HTTP headers custom or change gitlab event source madatory fields"
On create a webhook event source type with security and use this event source on gitlab projects hooks.
I get **Hook executed successfully but returned HTTP 401 Invalid Authorization Header**.
This happen because with  webhook event source type only allow use security based on token on header Authorization, but projects hooks on gitlab use a custom header **X-Gitlab-Token HTTP**.
This is a problem

[2022-05-26 13:56] mjhuber commented on #1990
🤦🏻 rtfm fail.  works with both `Sensor` and `EventSource` objects, e.g.,
[code]

thanks for the help!

[2022-05-26 13:56] #1990 closed

[2022-05-27 17:43] tomelliff opened #2000 "Support Redis auth ACLs"
**Is your feature request related to a problem? Please describe.**
I'd like Argo Events to be able to connect to a Redis cluster using [ACLs](https://redis.io/docs/manual/security/acl/). This needs a username to be provided as well as a password.

Importantly, [MemoryDB](https://aws.amazon.com/memorydb/) only supports authentication via Redis ACLs and doesn't support older password based authentic

[2022-05-28 02:52] #1713 closed

[2022-05-28 02:52] #1606 closed

[2022-05-30 03:15] #1060 closed

[2022-06-01 09:24] DiegoFlop opened #2010 "Add field name on template of sensors crd spec.triggers."
**Is your feature request related to a problem? Please describe.**
In order to use kustomize to merge several configuration files and make them easier to maintain, it would be convenient to add in spec.triggers the name field in the crd of the sensors.

This way it would be very convenient to work with separate files and use kustomize to merge them.

**Describe the solution you'd like**

[code]

*

[2022-06-03 12:01] vnzongzna opened #2011 "Argo claims to be CloudEvent-compliant but doesn't support ingesting cloudevent anywhere"
**Is your feature request related to a problem? Please describe.**
The ingestion controllers discard any metadata present in the event received & create their own cloud event instance for every message/event to be used between eventsource->eventbus->sensors. This makes it impossible to actually keep track of the actual source that sends the event.

**Describe the solution you'd like**
A minimum va

[2022-06-03 14:44] DiegoFlop commented on #2010
I have added the name field as well and it seems to work correctly when using kustomize to merge the files.

[2022-06-03 14:44] #2010 closed

[2022-06-04 02:53] #1676 closed

[2022-06-05 17:56] daniel-codefresh commented on #1998
Hey @DiegoFlop , so just to clarify the issue:

- At first, you didn't want to give your event source permissions to create webhooks and wanted to create them yourself manually, but now you've found out that `accessToken` is not a mandatory field and that you can achieve the exact behavior you're looking for by just omitting that field, correct?
- Now, the latest issue you've faced with was that e

[2022-06-08 01:59] wsams commented on #1694
You can override the image tag @eriadam .
[code]

[2022-06-08 06:25] eriadam commented on #1694
@wsams Yes, thank you, I did that.

[2022-06-08 14:17] mefuller opened #2020 "Event source body fails to resolve causing triggered workflow to fail"
**Describe the bug**
Maybe this is actually a feature, but I have a resource sensor to trigger a workflow that reports on the original workflow that led to the event - a kind of logger.
In the parameters I want to grab the body of the original workflow in order to extract certain values from it - currently I was planning to simply pass the whole JSON as an input string.

The problem arises when th

[2022-06-09 06:21] #2000 closed

[2022-06-09 10:15] vadimgusev-codefresh commented on #1791
@whynowy @alexec I've experienced this bug when tried to switch our EKS nodes from `AL2` to `Bottlerocket`.
Execing into random pod and issuing `ulimit -n` gives me:
-  `1048576`  on `AL2` instance
-  `65536` on `Bottlerocket` instance

If I dive into the `Bottlerocket` instance and issue `containerd config dump` i see this part:
[code]
So as I understand this, the process inside a pod can extend

[2022-06-09 10:26] tooptoop4 opened #2022 "s3 byte limit too low"
i saw https://github.com/argoproj/argo-events/blob/a98978a38dfc90299dc805089716ecba8374461a/sensors/artifacts/s3.go#L64 which means can only read data from s3 that is less than 65kb

its also common for logs to be larger than this

[2022-06-09 11:40] mefuller commented on #2020
I was able to develop a work-around that is of type 2 (replacing the variable values with plain strings of the name of the variables) and, but I still believe an appropriate enhancement would be improved default behavior for these cases in the form of one or more of the three proposed above.

[2022-06-09 11:42] #2020 closed

[2022-06-10 06:57] whynowy commented on #1791
@vadimgusev-codefresh - Is this something can be done in the Dockerfile?

[2022-06-10 16:43] whynowy commented on #2022
hmmm.... we should increase it...

[2022-06-11 03:02] #1807 closed

[2022-06-11 05:29] charlesa101 commented on #1499
+1

[2022-06-12 10:59] daniel-codefresh commented on #1831
Related PR: #2031

[2022-06-13 14:14] Chandan-SS opened #2033 "Failed to create the admission controller- Openshift"
**Describe the bug**
Unable to create events-webhook in openshift cluster.  Events-webhook pod ends up in crashloopback with below error

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps for Openshift cluster https://argoproj.github.io/argo-events/installation/

**Expected behavior**
 events-webhook pod must come up fine

**Screenshots**
k logs -f events-webhook-794f488d46-kdc2h

[2022-06-13 19:10] uday-mandava opened #2034 "Sensor trigger suspend and resume"
**Is your feature request related to a problem? Please describe.**
Currently there is no straight way to suspend and resume the sensor's trigger.

**Describe the solution you'd like**
I want to have suspend/ resume of sensors trigger similar to argo cron workflow suspend and resume. We can have a sensor start listening to fresh events after resuming. No actions from the trigger while sensor is in

[2022-06-13 20:41] VaibhavPage commented on #2022
@whynowy  what was the reason to add LimitReader?

[2022-06-13 21:15] whynowy commented on #2022
We had a security audit that we used `ioutil.ReadAll()` in many places which would potentially cause DoS, then I added the limit to all the places, which might have overkilled. See https://github.com/argoproj/argo-events/issues/1946.

[2022-06-14 03:30] #1822 closed

[2022-06-15 03:02] tooptoop4 commented on #1812
crispy

[2022-06-15 10:06] daniel-codefresh commented on #1831
PR was merged, closing the issue.

[2022-06-15 10:06] #1831 closed

[2022-06-15 10:52] Chandan-SS commented on #1726
@HossamELGazzaz Could you please share the resolution for this issue ? . I'm also facing the same issue in Openshift

[2022-06-16 21:25] whynowy commented on #2033
The `ValidatingWebhookConfiguration` we are creating is version `v1`, but openshift v3.11 only supports `v1beta1`.

https://docs.openshift.com/container-platform/3.11/rest_api/admissionregistration_k8s_io/validatingwebhookconfiguration-admissionregistration-k8s-io-v1beta1.html

[2022-06-19 03:21] #1828 closed

[2022-06-21 02:38] akulkarnihawk1995 commented on #813
Hey, were you able to resolve this issue ?

[2022-06-22 12:55] PhilippWitzmann opened #2044 "Submit-from in Sensor not possible with WorkflowTemplates"
**Describe the bug**
When trying to trigger a workflowTemplate from a sensor and eventSource, it is failing with the message: failed to execute trigger: timed out waiting for the condition: invalid kind WorkflowTemplate

This is propably related to: https://github.com/argoproj/argo-events/pull/1941

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sensor with WorkflowTemplate as a Res

[2022-06-23 06:03] whynowy commented on #2044
Submitting from WorkflowTemplate is not supported right now - it's easy to add it, questions:

1. Does submitting from WorkflowTemplate with parameters often used?
2. Is there any parameter option when submitting from other kinds (e.g. Workflow, CronWorkflow)?

[2022-06-23 07:41] PhilippWitzmann commented on #2044
We are still at the very beginning of our argo events + workflow journey. We are planning to replace our CI System (gitlab CI) with mentioned stack, so our usecase will be primarily predefined dag tasks, which WorkflowTemplates seems to cover perfectly fine for us.

An example generic workflow template would be to clone a git repo. Input parameters (coming from GitLab MR Event) would be the reposi

[2022-06-23 19:11] dodizzle opened #2045 "native EventBus does not start pods"
**Describe the bug**
When I attempt to add the native eventbus to the k8s cluster it does create the service but fails to start any pods.
At no point do pods appear.

**To Reproduce**
Steps to reproduce the behavior:
Install argo-events via the helm chart(I am using version 2.0.0)
Install the native eventbus
[code]
The service will be created, but no pods appear.

**Expected behavior**
I expect 3

[2022-06-26 13:18] #1998 closed

[2022-06-27 06:14] whynowy commented on #2045
What do you see in the controller log? And can you post what you see with `kubectl get eb default -o yaml`?

[2022-06-27 15:33] dodizzle commented on #2045
Here is the error from the events controller
[code]
And here is the config for eb/default
[code]

[2022-06-27 18:57] whynowy commented on #2045
Can you reinstall argo-events with the approach mentioned in the release notes? https://github.com/argoproj/argo-events/releases. The helm chart for Argo Events is maintained by community users, which might be missing something.

[2022-06-27 19:08] whynowy commented on #2022
@tooptoop4 - did you really experience any issue with this? This one is for reading the workflow spec definition from S3, we of course can increase the limit to 1 MB also, but it does not make sense to make it more than that.

[2022-06-27 21:13] dodizzle commented on #2045
Closing this ticket as the issue was with the helm chart which does not provide default version numbers for either native or jetstream.
After I added those configs for the argo-events service the eventbus began to work.
[code]

[2022-06-27 21:13] #2045 closed

[2022-06-28 01:50] tooptoop4 commented on #2022
yes, my workflow is more than 65kb

[2022-06-28 03:21] #1611 closed

[2022-07-01 18:54] Shahard2 opened #2058 "Timeouts in ArgoSensor when triggering Jobs from SQS"
**Describe the bug**
Hello, we're getting timeouts in Argo Sensor when we trigger around 100+ jobs at the same time from SQS.

**Logs**

`{"caller":"sensors/listener.go:346", "error":"failed to execute trigger: timed out waiting for the condition: The POST operation against Job.batch could not be completed at this time, please try again.", "errorVerbose":"timed out waiting for the condition: The P

[2022-07-05 05:35] Shahard2 commented on #1547
Any solution for this?
We started having this issue as well

[2022-07-05 14:01] codesorcery opened #2068 "Add support for custom SNS endpoint"
**Is your feature request related to a problem? Please describe.**
The SNS event source currently only allows to be used with AWS.
However, there also exist other compliant implementations (e.g. [Ceph radosgw](https://docs.ceph.com/en/latest/radosgw/s3-notification-compatibility/)), which may be used if the endpoint URL were configurable.

**Describe the solution you'd like**
Add an optional `endp

[2022-07-06 11:26] andreimahu commented on #707
I think this should be re-opened. I have also encountered this issue on both v1.7.0 and v1.7.1
Getting the label like below returns the entire webhook request content instead of just the label name.

[code]

[2022-07-07 09:34] lacarvalho91 opened #2069 "Eventsource and sensor readiness"
**Is your feature request related to a problem? Please describe.**

I have a Helm chart that contains an event bus, an event source and a couple of sensors. When I install this chart, the sensor and event source deployments take a while to stabilise, as the pods are in a crash loop until the event bus is ready. This is fine and is as you'd expect, the problem is that as soon as the sensor and even

[2022-07-07 16:39] #2068 closed

[2022-07-07 16:42] whynowy commented on #2058
I believe this is the problem of Kubernetes API server, that it could not handle that many requests concurrently (or it reached the rate limit).

[2022-07-08 14:09] christophercutajar commented on #1056
We're experiencing the same issue and the only way to resolve this is to delete everything and re-deploy everything from scratch!

[2022-07-08 15:55] Shahard2 commented on #2058
Thanks mate,
How can I verify it and resolve it?

[2022-07-09 20:07] juliev0 commented on #1850
adding "activity" so this isn't closed - hopefully we'll get to it in the next 60 days

[2022-07-12 03:37] #1927 closed

[2022-07-12 08:01] whynowy commented on #1949
That kind of well-crafted input won't be able to happen in real use cases.

[2022-07-12 08:01] #1949 closed, assigned to nobody

[2022-07-12 08:05] whynowy commented on #1944
This will not happen in real use cases. Won't fix.

[2022-07-12 08:05] #1944 closed

[2022-07-12 15:39] whynowy commented on #1951
There's no immediate impact at this time, but we need to move away from these libraries in the future. Convert it as a normal enhancement issue.

[2022-07-12 15:42] #1943 closed

[2022-07-12 17:43] whynowy opened #2074 "Retry mechanism for event publishing to EventBus"
There's no retry on event publishing to EventBus from EventSource, which should be in place in case there's any temporary issue.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2022-07-12 18:14] whynowy opened #2075 "Kafka event source to use manual ack mechanism"
We should update kafka event source ack to be manually, so that when there's any issue with downstream processing, there's no message lost.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2022-07-15 12:56] daniel-codefresh opened #2076 "The whole event payload is passed as a parameter value when Data or Context selection doesn't match"
**Describe the bug**
When dataKey/dataTemplate/contextKey/contextTemplate do not match the event payload during the parameter value resolving process of the Sensor, the whole event payload is being passed as the parameter value instead. While this might have been an intentional behavior at the time of creation, it is seen by many as a bug ([most recent example from CNCF slack channel](https://clou

[2022-07-15 12:58] daniel-codefresh commented on #2076
@whynowy @VaibhavPage do you see any complications or risks in changing that behavior?

[2022-07-15 13:20] daniel-codefresh opened #2077 "projectKey is a required field in Bitbucket eventsource"
**Describe the bug**
While `projectKey` is required for repo uniqueness in Bitbucket Server, it is only used for logical purposes in Bitbucket Cloud and is totally optional (also it is not part of the repo url so the same repo name cannot be used in different projects of the same owner). `projectKey` is not being used anywhere in the Bitbucket Cloud webhook API, therefore it can be removed complet

[2022-07-15 18:11] walcruz commented on #760
Hi guys, about this I have now the same problem when the resoruce is for deployments.
I'm using event 1.7.1.

[code]

[2022-07-16 03:10] #1727 closed

[2022-07-16 16:57] juliev0 commented on #1977
keeping alive in the hopes I'll work on it at some point

[2022-07-18 07:46] zamedic opened #2086 "Argo Event Contoller 1.7.1 Crash with Nill pointer on Jetstream Install"
Applying the Jetstream Example eventbus causes a crash on Argo events 1.7.1 , kubernetes: v1.24.1

Argo events was installed using Helm Chart

The root cause of the problem is that during the helm install, no jetstream versions were specified, resulting in an empty config map. Ideally,  the event controller should not crash but rather catch the null value and show an error, else the event controll

[2022-07-18 18:37] avasiliev opened #2087 "SCRAM is not supported in Kafka triggers"
**Describe the bug**
The following configuration works perfectly in Kafka event sources:
[code]
However when I create a trigger with the same config, this kind of messages start to appear in its log:
[code]
with stacktrace
[code]

I believe the reason of the problem is that SCRAM was not implemented for triggers in [#1528](https://github.com/argoproj/argo-events/pull/1528), and some pieces of code

[2022-07-18 21:43] #2033 closed

[2022-07-18 21:44] #2022 closed

[2022-07-18 21:50] whynowy commented on #2069
This is good suggestion, we could also add other needed checks there.

[2022-07-18 23:23] whynowy commented on #2086
See if it's the same issue as https://github.com/argoproj/argo-events/issues/2045.

[2022-07-18 23:25] whynowy commented on #2087
@avasiliev - thanks for reporting this issue! I wonder if you would like to submit a PR to add it?

[2022-07-19 07:06] zamedic commented on #2086
While I understand and acknowledge what I did wrong, I think the controller should handle the null and throw and error rather than hard crashing.

[2022-07-19 12:12] daniel-codefresh commented on #2086
@zamedic yes, that makes sense.
We should probably add some config validation on start up rather than erroring out during eventbus reconcile, @whynowy wdyt?

[2022-07-19 15:12] whynowy commented on #2086
Makes sense!

[2022-07-20 21:17] daniel-codefresh opened #2088 "Make max request body size configurable on all git/webhook related eventsources"
**Is your feature request related to a problem? Please describe.**
As of v1.7.1, the maximum request body size limit in all git/webhook related eventsources is 65KB which is an hard coded value ATM. As the size of webhook payloads can grow over 65KB, we need to make this value configurable by the user instead of hard coding it.

**Describe the solution you'd like**
Add an optional "MaxPayloadSize"

[2022-07-21 14:14] daniel-codefresh commented on #2088
Related PR: #2093

[2022-07-22 08:35] vaporpin opened #2094 "Some backend services are in UNHEALTHY state (when using ingress to route to service webhook-eventsource-svc)"
**Describe the bug**
I tested a set of event source and sensor (instructions from https://argoproj.github.io/argo-events/tutorials/01-introduction/) without creating an ingress, just using **port forwarding** and the implementation worked.

However when I tried to deploy an GCE class ingress (which automatically creates a external Load Balancer) to route path /argoevents to webhook-eventsource-svc

[2022-07-23 09:13] tooptoop4 commented on #1353
my current thinking is cluster admin defines team1 with namespace1/serviceaccount1/rolebinding1/gitrepo1, and defines team2 with namespace2/serviceaccount2/rolebinding2/gitrepo2. But what prevents team2 from creating a workflow yaml that references namespace1/serviceaccount1 ?

[2022-07-23 20:11] ankur6ue opened #2101 "filtering not working as expected while sensing sqs events"
**Describe the bug**
The body of a sqs message shows up as base64 encrypted, which seems to make sensor filtering not work

**To Reproduce**
Steps to reproduce the behavior:
1. Create sensor using:
[code]
Send message to sqs queue
aws sqs send-message --queue-url https://queue.amazonaws.com/aws-account-id/speech2text-queue --message-body '{"id":4,"greeting":"heyy","message":"tbd"}'

**Expected beh

[2022-07-24 12:50] CRASH-Tech opened #2104 "Cannot use headers in dataTemplate"
I'm trying to get inner json from webhook headers.
The header is inner json: `{"project": "test"}`

And it not working:
[code]

But if I use a .Input.body - all works:
[code]

[2022-07-24 15:25] CRASH-Tech commented on #2104
Close. Argo Events use spring templates

This works
`dataTemplate: '{{`{{ (index (index .Input.headers "X-Gitlab-Token") 0 | mustFromJson).project }}`}}'`

[2022-07-24 15:25] #2104 closed

[2022-07-25 08:47] #2088 closed

[2022-07-25 20:56] ArieLevs opened #2107 "amqp evensource not working with single log "started processing the AMQP event source...""
**Describe the bug**
similar to #1545, the issue still happening

no error message, nothing crashing, logs from event source:
[code]

EventSource resource looks like:
[code]

**Expected behavior**
Connection succeeds or an error is thrown.

**Environment:**
 - Kubernetes: v1.22.9
 - Argo: None
 - Argo Events: v1.7.1

---

**Message from the maintainers**:

If you wish to see this enhancement imple

[2022-07-25 22:41] tooptoop4 commented on #2101
@ankur6ue can u use ```code``` formatting? the yaml is garbled

[2022-07-26 07:35] Shahard2 commented on #2058
Anyone can help ?

@whynowy

[2022-07-26 13:15] dave08 opened #2110 "Bitbucket event source querying bitbucket api too often"
After adding more than 20 repos using the same credentials, I start getting `429 Too Many Requests` which prevents webhooks from being created.

**Environment (please complete the following information):**
 - Kubernetes: 1.21
 - Argo: 3.3.6
 - Argo Events: v1.6.3

@daniel-codefresh

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to t

[2022-07-26 16:48] daniel-codefresh commented on #2110
@whynowy I think I have a solution for our race condition issue with `deleteHookOnFinish` which would help us get rid of the webhooks daemon mitigation once and for all, but by looking at this [comment on the PR related to github eventsource webhooks daemon](https://github.com/argoproj/argo-events/pull/1930#issuecomment-1139344304) it seems to me that for some users the mitigation has become a fea

[2022-07-26 19:22] whynowy commented on #2110
What is your solution?

Make it configurable is also an option I think.

[2022-07-28 09:42] #2077 closed

[2022-07-29 04:11] drpebcak commented on #1791
I am also hitting this issue. I see this on sensors and event sources. Rescheduling onto a 'fresh' box does seem to help for a while, but it does eventually start failing. I see this with sqs and webhook (the two that I have tried).
The log:
[code]
From the node:
[code]

I currently cannot attach an ephemeral container because the pod is in 'Error' - it cannot start the main container... just keep

[2022-07-29 06:41] #2087 closed

[2022-07-29 07:05] whynowy commented on #1791
Thanks for sharing all of these!

[2022-07-29 07:09] whynowy commented on #1791
In `EventSource` and `Sensor` spec, there's a way to configure pod `SecurityContext`:

[code]

Try it out.

[2022-07-29 07:58] drpebcak commented on #1791
To my knowledge, fs.file-max is not namespaced, and so cannot be set this way.

[2022-07-29 22:00] sarabala1979 commented on #2034
@uday-mandava Can you provide the detailed usecase for this enhancement?

[2022-07-31 14:54] daniel-codefresh commented on #2110
The solution is quite simple:
The main reason that we are facing a race condition when `deleteHookOnFinish` is enabled is that the new eventsource pod is trying to use the same hook that could possibly be deleted by the old eventsource pod. My suggestion is that every new eventsource pod would "recreate" the hook incase it already exists instead of using the previous one, so that each eventsource

[2022-08-02 14:40] Nizar-opt commented on #2044
I think passing parameters to the workflowTemplate is needed, but looks like `submit-from` operation does not take parameters into consideration.

https://github.com/argoproj/argo-events/blob/54ab013ded5aaf387116a346c7718fd46d2f8e4c/sensors/triggers/argo-workflow/argo-workflow.go#L163-L174

@whynowy What do you think about adding workflowTemplate as a source?

[code]

[2022-08-02 16:34] whynowy commented on #2107
It should be something wrong with your connection to AMQP, but it's bad not to display the logs...

[2022-08-02 18:37] ArieLevs commented on #2107
I agree but I have no way of investigating what is wrong :sweat_smile:
wrong pass, timeouts, cert validation etc, absence of an errors in logs makes debugging really hard

[2022-08-02 21:29] whynowy commented on #2094
Check if this helps.

https://github.com/argoproj/argo-events/blob/master/docs/eventsources/webhook-health-check.md

[2022-08-02 21:41] whynowy commented on #2107
Agreed.

[2022-08-02 22:00] whynowy commented on #2044
Actually there's a field named `args` can be passed in `argoWorkflow` trigger, so we only need to enable `workflowTemplate` for `submit-from`, then it will work.

[2022-08-03 01:45] vaporpin commented on #2094
@whynowy , thanks for the help.

I created a NodePort service using the doc https://argoproj.github.io/argo-events/eventsources/services/ and managed to trigger the sensor from outside the cluster. Also tried this health check end point and it return OK.

But when the service is routed to the ingress, it states that it is in unhealthy state.

[2022-08-04 05:14] t-archanaa commented on #2101
With azureeventshub  events, the following works, if its only base64 encoded, Both the transformation and subsequent filter if any on the body fields work.
transform:
        jq:  .body|=@base64d

however if your body is an escaped json string post base64 decoding. then try the following to get it working.

transform:
        jq:  .body|=(@base64d | fromjson)

[2022-08-08 15:01] omBratteng commented on #2044
Do you mean this field name `args` https://github.com/argoproj/argo-events/blob/stable/examples/sensors/special-workflow-trigger.yaml#L17-L19 ?

How would one send parameters into it, like these https://github.com/argoproj/argo-events/blob/stable/examples/sensors/special-workflow-trigger.yaml#L42-L46?

[2022-08-08 16:54] juliev0 commented on #1977
@whynowy Could we add this to our project? I talked to Qianbo and he says this would be a good thing to tackle when we get a chance.

[2022-08-09 07:53] whynowy commented on #2044
- Yes.

- Unfortunately, I don't think dynamic arguments will work....

[2022-08-09 08:02] omBratteng commented on #2044
Ah, that's unfortunate.

I am still configuring and setting up argo-events in conjunction with argo-events, so I've adjusted one of the examples into this
[code]

With then sensor
[code]

And it seems to work, just a bit tedious to duplicate all those dynamic parameters, I'll probably end up with writing them as helm templates, to reduce a bit of manual writing.

[2022-08-09 15:31] jackivanov commented on #1572
Can this be reopened?

[2022-08-09 16:18] jackivanov commented on #1236
Any updates on this?

[2022-08-10 05:48] lingxiankong commented on #1029
Hi I am still facing the same issue. I am running argo event 1.7, in EventSource, we defined the events of ADD and UPDATE on a K8S resource, then in the workflow we updated the status field of the same type of resource, and we noticed that has triggered an infinite loop, any hint of solving this?

[2022-08-10 06:17] whynowy commented on #1029
Your issue is different from the original one.

It's actually expected for your use case - eventsource watches an object, and then triggers a workflow, the workflow updates the object status, which is also an UPDATE event, and then it becomes an infinite loop. I would suggest you take a close look at. the UPDATE event, and add some accurate filters to the eventsource config to avoid the status upd

[2022-08-10 06:18] #2044 closed

[2022-08-10 23:03] lingxiankong commented on #1029
Thanks for your reply, @whynowy

Yeah, updating to status subresources still do cause watchers to see an update event for the resource, normally in Kubernetes operators, we use `GenerationChangedPredicate` to discard update events that do not increase the ResourceGeneration, but this is not supported in EventSource at the moment.

After testing I came up with a solution, which is using Script filt

[2022-08-11 00:50] whynowy commented on #1029
Nice! BTW - you also can use the filter feature in EventSource, see https://github.com/argoproj/argo-events/blob/master/docs/eventsources/filtering.md

[2022-08-11 01:04] lingxiankong commented on #1029
Hmm...according to the function implementation [here](https://github.com/argoproj/argo-events/blob/master/eventsources/sources/resource/start.go#L274), I don't think the EventSource filter of resource type is able to access the fields of the old version object.

[2022-08-11 06:43] whynowy commented on #1029
The filter I mentioned is the one for all the eventsource, not the particular one for `Resource` event source.

[2022-08-11 10:00] lingxiankong commented on #1029
Yeah, but I'm using `resource` EventSource, and EventSourceFilter is not supported.

[2022-08-12 05:26] whynowy commented on #1029
I see.... the original `filter` in `Resource` should be replaced with the generic one...

[2022-08-17 11:41] dave08 commented on #2110
Any progress on this one @daniel-codefresh? It's really frustrating to have to keep on removing other event sources to add new ones... and being that this is dependent on the argo events release cycle, it would be great to have it in the upcoming version already... or maybe there's some way to make a seperate plugin for this?

[2022-08-17 12:58] Julian-Marco opened #2140 "-"
can be deleted

[2022-08-17 13:13] #2140 closed

[2022-08-17 15:35] jackivanov commented on #1320
@berlinsaint has it even been implemented? I can't find associated PRs

[2022-08-18 12:10] jackivanov commented on #1320
Looks like it's not. Can you reopen the issue, please? cc'd some contributors @daniel-codefresh @whynowy @alexec

[2022-08-18 22:54] svmaris commented on #2110
@daniel-codefresh: Wouldn't it be easier to just set the deployment strategy of the Git-like EventSources to `Recreate` instead of `RollingUpdate`? There's already [support](https://github.com/argoproj/argo-events/blob/798e2b37f20fc6b5a395bfc67fb45b605a960c6a/pkg/apis/common/common.go#L60) for that.

The `RecreateStrategyEventSources` was (I think) originally created to handle EventSources that do

[2022-08-20 15:06] daniel-codefresh commented on #2110
@svmaris I think that `Recreate` strategy for webhook related eventsources is an idea that might be worth considering, although it has some downsides compared to the first solution:

-  It would introduce a bit of downtime to all webhook related eventsources which may lead to loss of webhook events and affect the overall reliability of the solution.
-  Although this might be an edge case, the race

[2022-08-20 15:28] svmaris commented on #2110
Agreed. Of course, this also happens in the current situation, where it can take up to a minute for the webhook to be recreated.

This is also true. Not only with manual Pod deletions, but also with forced evictions like issues with the underlying node, running on pre-emptive nodes, other issues that might occur... so this might not even be an edge case.

Regarding the solution you're proposing: I

[2022-08-20 15:30] svmaris commented on #2110
Ah, I see now ... it is indeed a bit misleading. I have a File EventSource (which is on the list), but the Deployment is still running with the `RollingUpdate` strategy.

[2022-08-20 15:58] daniel-codefresh commented on #2110
Find the webhook by it's URL (not the name), which is exactly what we are doing today to find out if a webhook already exists and requires an update, only instead of replacing the whole existing webhook configuration I propose to just delete and recreate it.

[2022-08-20 16:03] daniel-codefresh commented on #2110
@dave08 @svmaris @whynowy I've created a POC for this solution #2145

[2022-08-20 16:09] #2086 closed

[2022-08-20 16:10] #2076 closed

[2022-08-22 03:33] #1812 closed

[2022-08-22 20:55] #1901 closed

[2022-08-24 15:21] danielpof opened #2146 "SENSOR_OBJECT hits environment variable max length on large sensors"
**Describe the bug**
When creating a big Sensor manifest the `SENSOR_OBJECT` will be too big and the sensor container will fail to start with `exec user process caused: argument list too long`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a big sensor manifest, our case it was 152Kb
2. Attempt to deploy it
3. The sensor container will crash loop with `exec user process caused: argu

[2022-08-25 11:04] kamiltalipov opened #2147 "Can’t pass large data from an event source into an artifact"
**Describe the bug**
Trying to pass large data from some event source (e.g. kafka) into an artifact will create a huge manifest.
As a result created workflow will fail with `exec user process caused: argument list too long`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sensor that passes data from event source to artifact.
<details><summary>example.yaml</summary>

[code]

</detai

[2022-08-25 20:43] whynowy commented on #2146
@daniel-anova - thanks for reporting this issue! Can you let me know what is the reason your sensor spec gets so large?

[2022-08-25 20:49] whynowy commented on #2147
If you do have some very large data, I does not seem to be good idea to me to pass the large data along with each step of the pipeline, I would suggest you to put the data somewhere like a storage, use Argo Events to trigger a workflow, and then read the data from the storage within the workflow..

[2022-08-25 21:46] tooptoop4 commented on #2146
@daniel-anova can u share what OS version/bash version/AKS instance type your k8s workers are? Also output from:
[code]
and https://stackoverflow.com/a/49119526

[2022-08-26 01:19] kamiltalipov commented on #2147
Yes, there are solutions to get around the problem. Things you mentioned can be implemented externally or within a custom trigger. However, it looks like a missing opportunity that Argo Events can't make use of artifacts functionality. Artifacts are a native tool to pass large data in Argo Workflows and it can be beneficial to apply them in Argo Events.

[2022-08-26 08:15] vermaxik commented on #2107
The same to me, did you @ArieLevs  find a way how to debug it?

[2022-08-26 12:31] daniel-anova commented on #2146
We're using argo to schedule data processing for which only the inputs change, we've made a frontend that allows users to add scheduling and it was all being added to a single sensor manifest (since then we've refactored to split the sensor into multiple files).

For the nodes:
- AKS/Kubernetes version: 1.23.8
- Kernel 5.4.0-1086-azure
- OS Image: Ubuntu 18.04.6 LTS
- Container Runtime: containerd

[2022-08-26 16:26] whynowy commented on #2107
There's a bug in the logging mechanism during retry, I'll put a fix there, so that it will be easier for debugging.

[2022-08-27 08:37] ArieLevs commented on #2107
Hi @vermaxik
unfortunately not, this issue blocked my poc with argo workflows
(still using self implemented solution using Keda)

[2022-08-31 13:53] stratus-ss opened #2159 "Error when trying to Install Argo Events on OpenShift (cannot use port 443)"
**Describe the bug**
This bug report is exactly the same as https://github.com/argoproj/argo-events/issues/1726

The user closed the bug without specifying a solution. Myself and a second user are interested in this fix/solution as well but I fear bumping a closed ticket will not receive any attention and I cannot reopen the old ticket.

How do we get the webhook to listen on a different port? Do

[2022-09-01 13:30] RobCannon commented on #2069
I am not sure if this is related, but it looks like if an EventSource (sqs in my case) is ready before the Sensor that is using it is ready, it will clear the queue and the Sensor does not ever process those messages.

[2022-09-03 06:10] whynowy commented on #2069
If it's a new sensor, it will not take any message happened before it starts.

[2022-09-03 09:54] daniel-codefresh opened #2163 "Configure NATS max_payload for JetStream eventbus"
**Is your feature request related to a problem? Please describe.**
ATM the max_payload size limit of NATS (1MB by default) is only configurable for STAN eventbus. I suggest to add the same support for JetStream eventbus.

**Describe the solution you'd like**
Add a `eventbus.jetstream.maxPayload` field under the JetStream eventbus spec, same as we have today for STAN.

---

**Message from the maint

[2022-09-04 08:36] github-yuvo commented on #562
Hello @cristianoveiga can you post what was the working solution here ?

[2022-09-04 08:37] elghali commented on #562
Hello @cristianoveiga can you post what was the working solution here ?

[2022-09-06 20:36] #2107 closed

[2022-09-06 20:37] maxisam opened #2176 "Argo Event with SSO RBAC enabled"
**Describe the bug**
Connection closed to api/v1/stream/events/argo-workflows?listOptions.fieldSelector=involvedObject.kind=EventSources,involvedObject.name=webhook

**To Reproduce**

1. Enable SSO.RBAC
2. Create a webhook event source as the example from the doc

**Expected behavior**
Should be able to see logs when login as Admin user

**Screenshots**
<img width="487" alt="image" src="https://us

[2022-09-08 03:54] junjunjunk commented on #1850
unstale

[2022-09-08 14:47] hkboujrida opened #2177 "EventSource Webhook maxPayloadSize not working"
**Describe the bug**
Based on the webhook example, posting 512kb json file resulting on an error "request body too large"

**To Reproduce**
Steps to reproduce the behavior:
1. Starting with argo event sample tutorial  with maxPayloadSize set to 1mb
[code]
3. sending 512kb json file with curl

5. See error on webhook event source pod
[code]

**Expected behavior**
success

**Environment (please comp

[2022-09-09 13:12] RobCannon commented on #2069
Well, that is troubling.  What if I need to rebuild my cluster and messages are queuing up.  The sensor will discard everything that happened before the cluster was operational again?  Is there an option to override that behaivor?

[2022-09-09 13:53] daniel-codefresh commented on #2177
Hey @hkboujrida, unfortunately this feature does not exist in v1.7.1 release and it can only be used with `latest` tag ATM.

@whynowy Maybe we should create a small patch release to include that change in order to unblock people who are facing this limitation that was introduced by v1.7.1, WDYT? Also, I think this limitation might be sort of a "breaking change" for many users who wish to upgrade t

[2022-09-09 17:43] whynowy commented on #2177
@daniel-codefresh - Agree!

[2022-09-09 17:48] whynowy commented on #2069
What I meant was, if it's a brand new sensor (1st time ever), it will not take any old messages. If it's just sensor pod down, you will still see unprocessed messages.

[2022-09-09 18:40] RobCannon commented on #2069
With ArgoCD, it is easy to just destroy a cluster and rebuilt it, which make for a new sensor.  When a deployment is messed up, it is often easier to delete a resource, like a sensor, and let ArgoCD rebuild it, which make it new.  We see this often in development and it is definitely a problem there.  It sound like I should make a feature request to not drain the queue for a new sensor.  In fact,

[2022-09-12 09:00] JimmyTrackoen-Adeo opened #2185 "ArgoEvents controller that crashes when misconfiguring a Kafka EventSource."
# ArgoEvents controller that crashes when misconfiguring a Kafka EventSource.

Hi there,
We have found that when a user configures an EventSource as follows:

[code]
The ArgoEvents controller goes down, causing an interruption of this service for all other ArgoEvents users on the cluster.
Above is the manager controller stacktrace:
[code]

By filling in the URL appropriately
[code]

And by removin

[2022-09-12 17:08] whynowy commented on #2185
Thanks for reporting this issue, could you post more log trace?

[2022-09-12 21:08] mstory21 opened #2186 "Request to add configurable annotations to eventsource services"
**Is your feature request related to a problem? Please describe.**
Our Ambassador deployment requires that we use service annotations to control http mappings for access outside of the cluster.  We'd like to be able to add these annotations to the services created for event sources -- specifically for generic webhooks and github.

**Describe the solution you'd like**
I would like to have a way to

[2022-09-13 07:59] JimmyTrackoen-Adeo commented on #2185
Hello @whynowy ,

Below are the complete logs of the argo-events controller.

Thanks.

`I0913 06:56:37.250543       1 request.go:665] Waited for 1.043921435s due to client-side throttling, not priority and fairness, request: GET:https://172.16.18.1:443/apis/autoscaling.internal.knative.dev/v1alpha1?timeout=32s
{"level":"info","ts":1663052198.1550496,"logger":"argo-events.eventbus-controller","call

[2022-09-13 12:00] daniel-codefresh commented on #2177
Closing this since v1.7.2 was released.

[2022-09-13 12:00] #2177 closed

[2022-09-13 13:39] #2163 closed

[2022-09-13 13:39] #2110 closed

[2022-09-13 13:42] dave08 commented on #2110
@daniel-codefresh Did this make it in the new release 1.7.2? I'm already starting to get desperate trying to juggle around this... thanks for solving this though!

[2022-09-13 16:07] daniel-codefresh commented on #2110
Yes, it did: https://github.com/argoproj/argo-events/releases/tag/v1.7.2

Looking forward to hear your feedback @dave08 !

[2022-09-14 21:07] jackmead515 opened #2190 "Documentation out of date - userPayload depreciated field"
**Describe the bug**
The documentation and examples clearly indicates that an EventSource of type "calendar" can define a `userPayload` as additional data to send in the event. The `userPayload` is a depreciated field and replaced with `metadata`

https://github.com/argoproj/argo-events/blob/v1.7.1/examples/event-sources/calendar.yaml#L32
https://argoproj.github.io/argo-events/eventsources/setup/c

[2022-09-15 20:34] ekawas-td commented on #1850
We are also seeing this behaviour. I was able to tweak the timeouts in the EventBus config but it didn't help.

[2022-09-20 10:43] AndreLobato commented on #1350
I am surprised this has not come up more often, it seems such a natural solution. What prevent us to have an WorkflowStatus EventSource for example, that listen for any status change from the mentioned workflows. Couldn't maybe be hooked into the same way the UI do?

[2022-09-20 10:44] fhochleitner commented on #2159
how are you isntalling argo events? we are using it on openshift and installed it via the community helm-chart. the option "openshift: true" it should work out of the box.

[2022-09-21 16:41] whynowy commented on #2190
Thanks, will fix it.

[2022-09-21 16:45] whynowy commented on #2186
Pod annotation on EventSource and Sensor can be done by setting

[code]

[2022-09-22 04:16] maxisam commented on #2107
I got this issue as well, I don't see any error logs with v1.7.2

[2022-09-22 05:31] whynowy commented on #2107
@maxisam - could you post all the logs you can see?

[2022-09-22 05:37] maxisam commented on #2107
it is identical with the original post. I did solve my issue in the end by checking RabbitMQ's log. Apparently I set the exclusive flag as true but it is not set as true in queue. After I fix the configuration it works. However, there is no error from argo-event. I think it might be caused by the upstream amqp library.

[2022-09-22 05:41] ArieLevs commented on #2107
@vermaxik I'm not sure what changed from my last attempt (since there are still no logs with version 1.7.2) but I got it working using latest version, might be related to the issue @maxisam raised as I also set `exclusive: false`

[2022-09-22 05:51] whynowy commented on #2107
@maxisam @ArieLevs - Thank you both, I'll keep looking into the log issue.

[2022-09-22 07:52] FeiYing9 opened #2201 "support multi filePath in GitArtifact"
**Is your feature request related to a problem? Please describe.**

I have several k8s resources stored in my git repository

And, I hope `Sensor` can trigger some of them one time, they may exist in diffrent paths.

**Describe the solution you'd like**
* make filed of `filePath` to an list, so we can specify diffrent paths
* to have a CR like [WorkflowTemplate](https://argoproj.github.io/argo-wor

[2022-09-22 16:49] maxisam commented on #1678
@rwong2888 I think this is what you want https://github.com/argoproj/argo-events/blob/master/examples/tutorials/03-trigger-sources/sensor-git.yaml

[2022-09-23 17:06] #2190 closed

[2022-09-23 22:39] Rakesh627 opened #2206 "Kafka Based Event Source: Support for pass-through on Kafka configuration"
**Is your feature request related to a problem? Please describe.**
Currently, the Kafka Eventsource has limited set of exposed Kafka configurations.

**Describe the solution you'd like**
Expose Kafka client configuration of the underlying client (sarama) as a pass through in eventsource to pass batching and other kafka consumer config.

**Describe alternatives you've considered**
Tuning `limitEven

[2022-09-24 07:51] whynowy commented on #2074
Was implemented at https://github.com/argoproj/argo-events/pull/2162.

[2022-09-24 07:51] #2074 closed

[2022-09-26 04:34] whynowy commented on #2075
Closed by https://github.com/argoproj/argo-events/pull/2214.

When there's an issue with EventBus message publishing, discontinue.

[2022-09-26 04:34] #2075 closed

[2022-09-26 06:48] whynowy commented on #2206
Closed by https://github.com/argoproj/argo-events/pull/2161

[2022-09-26 06:48] #2206 closed

[2022-09-26 06:50] whynowy commented on #2159
Anybody wants to submit a PR to make the port configurable (e.g. in the `args`)?

[2022-09-26 14:23] rwong2888 commented on #1678
@maxisam , that is not quite what I want to accomplish. It's a bit of duplicate work to create a workflow that is the same as a (cluster)workflow template.

[2022-09-27 11:18] nirsht commented on #2159
Hi @whynowy, I can do it

[2022-09-27 11:38] stratus-ss commented on #2159
I might have missed the helm chart option. Looking back in my history I see I definitely used the `kubectl apply` method.
I want to say that I also tried the helm installation as well but this box's history has rolled over since then but if I did, I missed the option that I see is present (when I know to look for it)

@nirsht thank you for volunteering to make a PR. I am sure I won't be the last p

[2022-09-27 11:47] nirsht commented on #2159
Hi @stratus-ss, the port is indeed not configurable either way, if only the port would be configurable it would help. I made PR https://github.com/argoproj/argo-events/pull/2215 with option to configure the port, while setting the default to 443. If the PR looks good to you, I will update the docs also.

[2022-09-27 12:24] stratus-ss commented on #2159
@nirsht this was exactly the direction I *thought* would be available. I found the environment variable for namespace while i was trying to see if there was a setting for the port.

much appreciated

[2022-09-27 15:58] whynowy commented on #2159
@nirsht - thank you! PR merged, will be available in next release.

[2022-09-27 15:58] #2159 closed

[2022-09-27 16:03] whynowy commented on #2185
I was able to reproduce this issue - it does not crash at the time the faulty spec is applied, but later on when the controller refreshes the k8s cache.

I could not think of a good idea, but introducing validation into CRD definition, which means at the time the spec is applied, k8s rejects the problematic objects.

[2022-09-28 04:13] maxisam commented on #952
using scratch is a nice idea but it creates an issue for debugging. Is there a way to use one with shell?

[2022-09-28 05:23] maxisam opened #2217 "Improve File event source document"
**Is your feature request related to a problem? Please describe.**

The example doesn't work, because container is base on scratch now.

Also needs to mention polling option, because some file system doesn't support inotify

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description o

[2022-09-28 06:17] whynowy commented on #952
Releasing another image based on `alpine` could be an option.

[2022-09-29 17:32] whynowy commented on #2186
I see. I think you were talking about the service for webhook EventSource, we actually recommend you creating the service by yourself, see the link below.

https://github.com/argoproj/argo-events/blob/master/docs/eventsources/services.md

[2022-09-29 20:53] mstory21 commented on #2186
OK, I'll go that route.

[2022-09-29 20:53] #2186 closed

[2022-09-30 07:19] JimmyTrackoen-Adeo commented on #2185
Hello @whynowy,

Yes indeed applying this fix to your CRD seems to me to be a good idea.

[2022-10-02 00:45] omBratteng opened #2228 "Support for Azure Service Bus"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to have support for Azure Service Bus

**Describe the solution you'd like**
Able to receive messages from an Azure Service Bus

**Describe alternatives you've considered**
Azure Event Hub is too overkill

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a

[2022-10-02 00:46] omBratteng commented on #2228
Could assign this to me, as I am working on it as well.

[2022-10-02 03:55] #2058 closed

[2022-10-02 20:15] bukowa commented on #1320
You can use `""` for all namespaces for example:
[code]

[2022-10-03 08:45] sharadhirao commented on #174
Hi Team,
I was also looking for the same solution.

I have multiple eventsources, when any one of them triggers, I should be able to run the workflows. I have made values dynamic, so single sensor is enough for me. It feels like it should be possible to have a Sensor with multiple triggers defined and when any one of the dependencies triggers sensor should run.

I am not able access this link: htt

[2022-10-03 10:51] shubhamgandhi1996 commented on #1301
@dwink @alexec can we send multiple slack notification, currently writing a multiple slack trigger templates to send different payload data as a notification.

[2022-10-05 05:34] tooptoop4 opened #2234 "docs: add example of a sensor triggering an existing workflowtemplate defined outside of sensor file"
workflowtemplate can be already defined/deployed to normal argo-workflows UI ie
[code]

then sensor can trigger it, ie https://github.com/argoproj/argo-events/discussions/1247#discussioncomment-871368 without having all the step logic in the sensor file

[code]

[2022-10-05 06:21] tooptoop4 opened #2235 "support dynamic parameters for submitting workflowtemplate"
https://github.com/argoproj/argo-events/issues/2044#issuecomment-1208244374 mentions dynamic parameters

[2022-10-06 07:16] #2228 closed

[2022-10-10 03:45] #2094 closed

[2022-10-11 03:43] #2101 closed

[2022-10-12 13:28] jomach opened #2242 "Trigger conditions should allow to read values from a configmap"
As Argo workflows allows to read parameters from a configmap I think it is very important to have this on sources and on sensors. For example, we share one instance of kafka with multiple argo instances. We need a way to detect if the incoming message belongs to us or not.

**Describe the solution you'd like**
I would like to have the option on the conditions from sensors to say configMapKeyRef ==

[2022-10-13 17:26] Lata1980 commented on #1827
Hi @tooptoop4 I am a first time contributor. I have some experience using argo events and DB. I would like to contribute here.

[2022-10-13 21:02] #1786 closed

[2022-10-14 07:21] #1502 closed

[2022-10-14 07:47] whynowy commented on #1827
👍

[2022-10-14 09:59] tooptoop4 opened #2249 "feat: schema registry/avro support for Kafka event source"
deserialize Kafka events using schema registry lookup:
option 1: https://github.com/dangkaka/go-kafka-avro/blob/e714c259f1e9b42b05cc03ca98ed9b476a970dff/avroConsumer.go / https://github.com/dangkaka/go-kafka-avro/blob/e714c259f1e9b42b05cc03ca98ed9b476a970dff/examples/consumer/main.go
option 2: https://github.com/riferrei/srclient/blob/master/EXAMPLES_AVRO.md#consumer

[2022-10-14 10:07] tooptoop4 commented on #1345
would you be ok with maintaining this patch https://github.com/Shopify/sarama/pull/2192/files on argo side?

[2022-10-14 17:08] dfarr commented on #1682
@whynowy what if the sensor itself was used for storage of the status? This has the benefit of mitigating your second point, also it could be used to standardize the way information is persisted regardless of the event bus type.

An (over-simplified) example:
[code]

[2022-10-14 21:31] hernanpl opened #2250 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for Argo](https://clomonitor.io/projects/cncf/argo#argo-events) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

### Sum

[2022-10-14 22:44] whynowy commented on #1682
This means the application running in the sensor pod has the privilege to watch Sensor objects, this is thing we try to avoid.

[2022-10-14 23:43] dfarr commented on #1682
Yes, however, the service account would only need namespace scoped access to Sensor objects. I'm curious about the reason for avoiding this?

If information is not shared via the Sensor object I think the only other solution would be to share state through a database which as you point out would need to be managed and maintained. Currently if jetstream is used as an eventbus then the jetstream key

[2022-10-15 02:19] whynowy commented on #1682
1. This avoids the basic [SRP](https://en.wikipedia.org/wiki/Single-responsibility_principle), imagine the controller watches the Sensor object, create pods, and update the Sensor object, meanwhile the created pods also watch the Sensor object, and update the object...
2. It makes no sense to ask users give extra privileges to execute actions which does not require any extra k8s privilege - I want

[2022-10-15 19:49] dfarr commented on #1682
Yes this is possible and perhaps the best route given the circumstances, but the drawback here is tight coupling. If the storage layer and the eventbus are tightly coupled then adding a new eventbus requires also adding a new storage technology, decoupling would have the benefit of simplifying argo events (eg: one codepath for maintaining this state vs duplicated code depending on whether or not t

[2022-10-15 21:46] whynowy commented on #1682
I think making it easy-to-use for the users is more important than others.

Don't make yourself confused about Sensor state and the state of the workload running in the sensor pod, they are two different things. Sensor state represents the orchestration state, when the orchestration is done, any change on the control plane (including k8s control plane and your applications control plane) issue sho

[2022-10-17 05:46] #1282 closed

[2022-10-17 05:48] #1506 closed

[2022-10-17 09:09] Lata1980 commented on #1100
@blkperl I am interested in working on this.

[2022-10-17 09:22] Lata1980 commented on #2234
@whynowy can you please assign me this issue.

[2022-10-17 12:56] pockyhe opened #2261 "EventBus failed to get nats streaming version"
**Describe the bug**
I tried to enable Argo Event in k8s with Argo Event helm chart. whiile applying eventbus, It caused error:
{"level":"error","ts":1666002222.3261538,"logger":"argo-events.eventbus-controller","caller":"eventbus/controller.go:56","msg":"reconcile error","namespace":"argo-main","eventbus":"default","error":"failed to get nats streaming version, err: unsupported version \"0.22.1\"

[2022-10-17 16:35] dfarr commented on #1682
Thanks @whynowy, we would like to tackle implementing this. From what I gather from our conversation

1. The most important design consideration is developer experience. IMO this means simplifying the pre-reqs for using kafka as an eventbus, as a user I would prefer to not require an additional db to use kafka.
2. The sensor (and eventsource, eventbus) object should not contain application informa

[2022-10-17 18:59] tooptoop4 opened #2262 "feat: Solace EventSource"
https://github.com/SolaceSamples/solace-samples-go/blob/872f20dd8de4b02a363792bc3205a5c879d457e6/patterns/direct_subscriber.go

[2022-10-17 23:20] whynowy commented on #1682
Thank you so much @dfarr !

[2022-10-18 13:30] GoshaDo opened #2263 "Parameterization a block of k8s resource (set of key values)"
**Is your feature request related to a problem? Please describe.**
Hi, I am trying to parametrize an entire block of k8s trigger using payload. the payload converted to string and can't be injected to overwrite the block.

**Describe the solution you'd like**
I would suggest the following usage:
[code]

while the data of the payload is:
[code]

This should overwrite the spec.templates.0.container

[2022-10-18 16:11] whynowy commented on #2261
The helm chart is maintained by community folks, I think there's some configuration missing in it. You can fix the problem in the controller configmap, follow https://github.com/argoproj/argo-events/blob/master/manifests/base/controller-manager/controller-config.yaml#L10-L12.

[2022-10-20 12:08] mefuller opened #2265 "Duplicate calendar events"
**Describe the bug**
As in #459, in a test environment where I am frequently making changes to YAML manifests and reapplying them, sometimes seeing multiple identical workflows triggered by (what should be) a single calendar event.

**To Reproduce**
I cannot reliably reproduce this error.

**Expected behavior**
Applying a calendar eventsource and sensor triggered by it produces one workflow trigge

[2022-10-20 16:12] emmayylu opened #2266 "Cannot Create resource "argo-events""
**Describe the bug**
This issue (https://github.com/argoproj/argo-events/issues/1418) still exists in Argo Events v1.7.3

When using this (https://raw.githubusercontent.com/argoproj/argo-events/stable/examples/sensors/webhook.yaml) to create a Argo Event Sensor to trigger a workflow, I get this error message `failed to execute trigger: timed out waiting for the condition: default is forbidden: Use

[2022-10-20 22:06] dfarr commented on #1977
@juliev0 we can take a look into supporting this

[2022-10-25 07:24] #2263 closed

[2022-10-25 07:41] GoshaDo opened #2272 "Parameterization a block of k8s resource (set of key values)"
**Describe the bug**
I am trying to parametrize an entire block of k8s trigger using payload. the payload converted to string with backslashes and can't be injected to overwrite the block. Workflows CRD getting `cannot unmarshall spec: cannot restore struct from: string.`

Here is an example of the sensor:
[code]
func ApplyParams(jsonObj []byte, params []v1alpha1.TriggerParameter, events map[strin

[2022-10-25 12:40] harmjanblok opened #2274 "Cluster domain is hardcoded for Jetstream installer"
Currently the jetstream installer hardcoded the cluster domain to `cluster.local`, for example on [controllers/eventbus/installer/jetstream.go#L626](controllers/eventbus/installer/jetstream.go#L626).

For clusters that override the default with the [`--cluster-domain`](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) kubelet flag, the cluster domain part should probably

[2022-10-25 17:14] arielweinberger opened #2275 "Argo Events stopped working, fails to start"
**Describe the bug**
We have been using Argo Events for a while now (~30 days) without an issue.
All of a sudden, it stopped working and re-installing Argo Events does not seem to work.

It's a cluster-wide installation, using the helm chart (v2.0.6). This is the configuration:
[code]

The `argo-events-controller-manager` pod crashes with the following logs:
[code]

No additional logs or error mes

[2022-10-25 18:24] arielweinberger commented on #2275
This was solved after tearing down the cluster and bringing it back up. No clue why this happened...

[2022-10-25 18:24] #2275 closed

[2022-10-26 07:01] FeiYing9 commented on #2201
Is there anthing...

[2022-10-26 08:30] daniel-anova commented on #2146
comment to keep this issue alive.

[2022-10-26 12:30] idanrookout commented on #2272
👍

[2022-10-26 12:57] joepke opened #2276 "Bug in context filter documentation"
**Describe the bug**
The 'How it works' section of the context filter documentation actually shows the corresponding section from the time filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [context filter documentation](https://argoproj.github.io/argo-events/sensors/filters/ctx/)
2. Scroll down to 'How it works'
3. See 'takes a start and stop time in HH:MM:SS format in UTC.',

[2022-10-27 15:31] rwong2888 opened #2278 "new event bus breaks sensors"
When we update the jetstream eventbus version to 2.9.1, our sensors crashloop with the error below. The only way for us to recover is delete the argo-event namespace and argocd will restore it back to normal.

[code]

[2022-10-27 15:45] omBratteng opened #2279 "Support for Azure Service Bus as a Trigger"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to have support for Azure Service Bus as a trigger

**Describe the solution you'd like**
Able to send messages to a Azure Service Bus queue

**Describe alternatives you've considered**
Azure Event Hub is too overkill

[2022-10-28 10:58] mrkwtz commented on #1791
We finally are able to ssh into our nodes. Unfortunately because we're out if inotify user watches / instances (don't know yet) we're not :D

It turns out the fs.inotify.max_user_instances setting is pretty low on our nodes although it should be higher. You can take a look here https://github.com/awslabs/amazon-eks-ami/issues/1065 So first we're going to investigate why that's the case and if the

[2022-10-30 08:20] whynowy commented on #2274
@harmjanblok - makes sense, would you like to submit a PR for it?

[2022-10-30 08:22] whynowy commented on #2266
Anybody else sees this?

[2022-10-30 08:26] whynowy commented on #2265
It's hard to troubleshoot if there's no way to reproduce, at least provide more information about the steps?

[2022-10-30 08:27] #2276 closed

[2022-10-30 08:29] whynowy commented on #2278
@juliev0 - Can you take a look?

[2022-10-30 18:24] juliev0 commented on #2278
@rwong2888 Can you provide the previous and new EventBus specs?

[2022-10-31 14:02] rwong2888 commented on #2278
We upgraded to events v1.7.3 from v1.7.2. After v1.7.3 was rolled out we upgraded the event bus from version 2.8.1 to 2.9.1. After doing so, we see sensors crash looping and we basically wipe out the entire namespace and let ArgoCD rebuild everything to settle it all down.

[code]

[2022-10-31 19:26] juliev0 commented on #2278
got it, thanks

[2022-10-31 20:41] juliev0 commented on #2278
@whynowy I guess we _do_ preserve state when a Sensor is deleted and re-created, but the intention is that we do not preserve state when an EventBus is deleted and re-created, right? (basically, deleting the EventBus is the way to purge all of that state and start from scratch)

So, if that's the case, I am thinking the real issue here is that we should not try to preserve any state in a re-creati

[2022-11-01 12:55] eddie-knight commented on #2250
Seems I am still missing something in the Token Permissions... the check isn't passing yet, though I expected it to be green by now. Will look again later today.

[2022-11-02 03:30] #2147 closed

[2022-11-02 08:33] mrkwtz commented on #1791
We found the culprit. The privileged promtail pods (<= v3.0.3) are setting the fs.inotify.max_user_instances to 128. We'll upgrade to at least v3.0.4 and then that error should be gone. Closed for now.

Thank you for your patience with us :)

[2022-11-02 08:33] #1791 closed

[2022-11-02 08:55] vadimgusev-codefresh commented on #1791
@mrkwtz that's an interesting finding! We are also using loki/promtail, so might affect us also, will investigate!

[2022-11-02 10:28] mrkwtz commented on #1791
@vadimgusev-codefresh See here, https://github.com/grafana/helm-charts/commit/bd6e0805e0b14e0d5a39fc9b0dada0ee0042ed90

[2022-11-02 22:25] OneCricketeer commented on #2249
Duplicates #1503

[2022-11-02 22:28] OneCricketeer commented on #188
Have you seen [Argo DataFlow](https://github.com/argoproj-labs/argo-dataflow)?

[2022-11-03 01:05] whynowy commented on #1791
Nice! @mrkwtz

[2022-11-03 01:07] whynowy commented on #188
@OneCricketeer - check out [Numaflow](https://github.com/numaproj/numaflow)

[2022-11-03 06:25] OneCricketeer commented on #188
Neat, but the question seemed to be asking about Argo, specifically

[2022-11-04 08:59] iskandertajine commented on #1850
Same here, we're loosing argo-events components regularly due to leader election failure on GKE.

[2022-11-04 19:15] juliev0 commented on #2278
Discussed with @whynowy. We will preserve the sensor's trigger state in this case (i.e. just use the existing key/value store).

[2022-11-11 09:16] #2278 closed, assigned to juliev0

[2022-11-11 09:58] #2272 closed

[2022-11-14 03:07] #2176 closed

[2022-11-18 00:37] AalokAhluwalia commented on #1236
@whynowy  I've been taking a look at this issue this week and started making changes. A couple questions I was hoping you'd have some thoughts on:
1. Would it be helpful instead of having a field in the sensor like `dataType` to use a boolean field `useRawDataValue`? When set to true, the data value will be used without converting to string. When set to false, and by default, the string representa

[2022-11-18 17:59] whynowy commented on #1236
@AalokAhluwalia - You are right, only numbers and booleans have problems right now, but I more prefer your first idea, to have a `useRawDataValue`. If there's such a field with a value `true`, my understanding is there's no need to specify `dataType`, alway using raw type should work for numbers and booleans, right?

[2022-11-18 18:07] dspeck1 opened #2316 "Kafka Event Source not connecting to Jetstream Event Bus"
**Describe the bug**
The Kafka Event Source is not connecting to the Jetstream Event Source and erroring out pod.  Also tried NATS as well.  Getting Event Source Server cannot be created.  I thought the Event Source Server was now longer supposed to be created according to this post?

https://blog.argoproj.io/argo-events-v1-7-theres-a-new-bus-in-town-21949e915771

Running Argo events 1.7.2

**To R

[2022-11-18 20:32] AalokAhluwalia commented on #1236
That's what I thought too. The boolean field does seem simpler and will work. One problem with specifying the type in the yaml is the case when there's a mismatch between event type and yaml type.

[2022-11-18 20:55] dspeck1 commented on #2316
To expand on this a webhook event source work.  The `eventBusConfig` looks identical between the webhook event source and kafka event source.  Is there a known working version of argo events with kafka event source I should test with?

{"jetstream":{"url":"nats://eventbus-default-js-svc.argo-events.svc.cluster.local:4222","accessSecret":{"name":"eventbus-default-js-client-auth","key":"client-auth"

[2022-11-20 17:12] chuchu commented on #1371
I have a similar problem with a generic event source. The payload I'm sending is a simple json object created with json.Marshal(...) in golang. This call returns the json serialized struct as byte. The code for the event can be found [here](https://github.com/chuchu/sandbox/blob/2262e36360aa5a76be7a6b470029490e7a206dbe/Argo/CustomArgoEventWithSensor/Source/Program.go)

The sensor receives the payl

[2022-11-22 20:02] emmayylu opened #2323 "Would be nice if argo-events support customize logging"
**Is your feature request related to a problem? Please describe.**
I am using argo-events in an application that runs tasks. Each task has a unique id used as a "correlation id" created by the front end. The flow looks like this: Frontend -> service A (can use correlation id to find logs)-> argo source -> argo event bus -> argo event sensor -> trigger (can use correlation id to find logs)

The pro

[2022-11-24 06:47] emmayylu commented on #2323
duplicate

[2022-11-26 02:26] gtato commented on #1755
From the [documentation](https://argoproj.github.io/argo-events/eventsources/multiple-events/), I would have implied that this feature is already in place.
But i tried it with the webhook, and I am getting a weird behaviour:

[2022-11-29 05:17] #1236 closed

[2022-11-29 06:08] reinvantveer commented on #1236
:raised_hands:

[2022-11-30 08:18] JimmyTrackoen-Adeo commented on #2185
Up